<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>

    <form id="registro-form">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter your email">
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <br>
        <button type="submit" value="Register" id="registro-btn">Submit</button>
    </form>

    <script>
        const registroForm = document.querySelector('#registro-form');
        const registroButton = document.querySelector('#registro-btn');
        registroButton.addEventListener('click',(e)=>{
            e.preventDefault();
            const email = document.querySelector('#email').value;
            const password = document.querySelector('#password').value;

            fetch('/registro', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'email': email,
                    'password': password
                })
            }).then(response => response.json())
            .then(data => {
                    console.log(data);
                    window.location.href = "/login"
            })
            .catch(error => {
                console.error('Error en la solicitud. Por favor, inténtalo de nuevo.', error);
            });
        });
    </script>
</body>
</html>
