<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Préstamo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Agregar Préstamo</h1>
        <form method="POST">
            {{ forma.csrf_token }}
            <div class="form-group">
                {{ forma.usuario_id.label }}<br>
                {{ forma.usuario_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ forma.libro_id.label }}<br>
                {{ forma.libro_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ forma.fecha_prestamo.label }}<br>
                {{ forma.fecha_prestamo(class="form-control") }}
            </div>
            <div class="form-group">
                {{ forma.fecha_devolucion.label }}<br>
                {{ forma.fecha_devolucion(class="form-control") }}
            </div>
            <div class="form-group">
                {{ forma.enviar(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
